.container {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    .jumpman {
        width: 500px;

        & path {
            fill: transparent;

            stroke-width: 1;
            stroke: #fff;

            stroke-dasharray: 800;
            stroke-dashoffset: 0;

            animation: animate-airjordan 5s linear forwards;
        }
    }
}

@keyframes animate-airjordan {
    
    from{
        stroke-dashoffset: 800;
    }

    to{
        fill: red;
    }
}
